@keyframes breathe {

  0%,
  100% {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    opacity: 0.9;
    transform: translate(-50%, -50%) scale(1.05);
  }
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pulse-ring {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid rgba(59, 130, 246, 0.4);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: pulseWave 4s infinite;
}

.pulse-ring.delay {
  animation-delay: 2s;
}

@keyframes pulseWave {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0.6;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}

@keyframes rotateOrbit {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes bubbleMove {

  0% {
    transform: translate(calc(-50% + var(--bx)),
        calc(-50% + var(--by))) scale(1);
  }

  25% {
    /* spread outward more */
    transform: translate(calc(-50% + var(--bx) * 1.25),
        calc(-50% + var(--by) * 1.25)) scale(1.05);
  }

  50% {
    /* move to center */
    transform: translate(-50%, -50%) scale(1.25);
  }

  75% {
    /* go outward again */
    transform: translate(calc(-50% + var(--bx) * 1.15),
        calc(-50% + var(--by) * 1.15)) scale(1.05);
  }

  100% {
    transform: translate(calc(-50% + var(--bx)),
        calc(-50% + var(--by))) scale(1);
  }

}

@keyframes neuralFloat {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  50% {
    transform: translate(60px, -40px) scale(1.05);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}


@keyframes logoPulse {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.95;
    filter: drop-shadow(0 0 14px rgba(99, 102, 241, 0.35));
  }

  50% {
    transform: scale(1.06);
    opacity: 1;
    filter: drop-shadow(0 0 24px rgba(99, 102, 241, 0.6));
  }
}

/*  Now for Code preview */
@keyframes floatPreview {

  0%,
  100% {
    transform: translateY(-50%) translateY(0px);
  }

  50% {
    transform: translateY(-50%) translateY(-12px);
  }
}

@keyframes previewPulse {

  0%,
  100% {
    box-shadow:
      0 0 40px rgba(59, 130, 246, 0.15),
      0 20px 60px rgba(0, 0, 0, 0.6);
  }

  50% {
    box-shadow:
      0 0 60px rgba(59, 130, 246, 0.25),
      0 20px 70px rgba(0, 0, 0, 0.7);
  }
}

.preview-shine::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg,
      transparent 30%,
      rgba(255, 255, 255, 0.08),
      transparent 70%);
  opacity: 0;
  transition: 0.6s;
}

.preview-shine:hover::after {
  opacity: 1;
}